* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}


.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header & navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 51px;
    font-size: 20px;

}

.primary-btn {
    background: #FD6E0A;
    color: #FFF;
    border: none;
    border-radius: 5px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.nav-tittle {
    font-size: 45px;
    font-weight: 800;
}

.nav-button {
    font-size: 20px;
    font-weight: 700;

}

/* Banner Styles */

.banner {
    margin: 0px 180px;
    display: flex;
    align-items: center;
}

.banner-subtittle {
    font-size: 45px;
    font-weight: 600;
}

.banner-tittle {
    font-size: 70px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* about me section design */
.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-tittle {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-align: center;

}

.section-description {
    margin-top: 30px;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.section-table {
    align-items: center;
    margin: 0 auto;
}

.section-table td {
    font-size: 20px;

}

/* info section styles */

.about-info-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.info-tittle {
    font-size: 20px;
    color: #474747;
}

.info-description {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #474747;
}

/* What I do section styles */

.what-i-do {}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skills {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-tittle {
    color: #181818;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    font-size: 16px;
    color: #757575;

}

/* Resume section styles */

.resume-contents {
    display: flex;
    gap: 24px;
}

.resume-section-tittle {
    margin-top: 130px;
    font-size: 30px;
    font-weight: 700;
    columns: #474747;
}

.resume-section-subtittle {
    margin-top: 30px;
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-section-sub-subtittle {
    margin-bottom: 20px;
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-section-details {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* .experiences1, .experiences2, .education1, .education2{
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
} */

hr {
    margin-top: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contract section styles */

.contract {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contract-tittle {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 28px;
}

.contract-description{
    font-size: 16px;
    color: #474747;
}

.contract input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 18px 30px;
}

input{
    height: 64px;
    
}

.img img{
    margin-right: 24px;
    margin-top: 30px;
}
a{
    text-decoration: none;
}